*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3";
    text-decoration: none;
    list-style: none;
}
.mobile-navBar {
    position: absolute;
    height: 100%;
    width: 80%;
    top: 0;
    left: -100%;
    background: rgb(0, 31, 23);
    z-index: 333;
    padding: 20px;  
    transition: left 0.3s ease;
}
.showMenu{
    left: 0;
}
.no-scroll {
    overflow: hidden;
}
.mobile-nav-links{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 10px;
}
.mobile-link a i{
    margin-right:10px ;
}
.mobile-link a{
    color: #e7e6e6;
}
.wrapper{
    width: 80%;
    margin: 0 auto;
}
.header-section{
    width: 100%;
    height: 100vh;
    position: relative;
    background: url("/images/headphones_hero_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-content .navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.nav-links{
    display: flex;
    gap: 30px;
}
.mobile-nav{
    display: none;
}
.mobile-nav a i{
    color: white;
    font-size: 2rem;
}
.logo a img{
    width: 150px;
}
.nav-links .link a{ 
    color: #f1f0f0cc;
    font-size: 1.2rem;
    transition: 0.6s ease all;
    cursor: pointer;
}
.link:hover a{
    color: rgba(255, 69, 2, 0.927);
}
.hero-content{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn-wrap{
    margin-bottom: 80px;
}
.btn{
    padding: 10px 20px;
    background: #f14304e5;
    color: #f1f0f0cc;
    border-radius: 50px;
}
.header-content h3, .header-content p{
    color: #f1f0f0cc;
}
.hero-content h3{
    font-size: 2.2rem;
}
.hero-content p{
    margin-bottom: 30px;
    line-height: 26px;
}
/**------About section------*/
.about-content {
    padding: 100px 0;
}
.title, .about-desc{
    text-align: center;
}
.about-desc{
    width: 60%;
    margin: 0 auto;
}
.about-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin-top: 40px;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.card img{
    width: 50px;
    height: 50px;
}
.card-desc{
    text-align: center;
    width: 80%;
}
.results-section{
    background: url("/images/headphones_hero_2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.results-content{
    padding: 50px 0;
    height: fit-content;
}
.results-title{
    text-align: center;
    color:#f1f0f0cc;
    font-size: 2.2rem;
    margin-bottom: 20px;
}

 .results-desc{
    color: #f1f0f0cc;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.statistics{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    margin-top: 50px;
}

.results-content{
    width: 80%;
    margin: 0 auto;
}
.statistic{
    text-align: center;
    color: #f1f0f0cc;
    background: url("/images/pentagone.png");
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}
.statistic h3{
    margin: 40px 0 20px 0;
    font-size: 2.5rem;
}

.statistic p{
    font-size: 0.8rem;
}
.contact-wrap{
    padding: 50px 0;
}
form{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 auto;
}
input {
    border: none;
    border-bottom: 1px solid #f1f0f0cc;
    padding: 20px 10px 10px 10px;
    transition: border-bottom 0.8s ease;

}
input:focus{
    outline: none;
    background: transparent;
    border-bottom: 1px solid #ff1c03f8;
}
.filled{
    background: rgba(205, 255, 235, 0.498);
}
.button-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-content{
    width: 80%;
    margin: 0 auto;
}

.footer-section{
    background: #011219f8;
}
.upper-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.socials{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 40px 0;
}
.social{
    padding: 5px 6px 5px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1f0f0cc;
    border-radius: 50%;
}
.copyright{
    text-align: center;
    color: #7f7f7f8d;
}
.lower-footer{
    padding: 30px 0;
}
